**/*.pyc
**/*.csv
**/*.xls*
**/*.djcache

.git
.gitignore
.github
.vscode
.devcontainer
node_modules
venv
.venv
*.pyc
__pycache__
.env
*.pem
tests
docs
logs
diagrams
scripts
Dockerfile
docker-compose*.yml
