**/*.pyc
**/*.csv
**/*.xls*
**/*.djcache

.git
.gitignore
.github
.vscode
.devcontainer
node_modules
venv
.venv
*.pyc
__pycache__
.env
*.pem
tests
docs
logs
media
private-media
staticfiles
boranga/cache
diagrams
scripts
*.md
!requirements.txt
Dockerfile
docker-compose*.yml
