{% extends 'boranga/emails/base_email.html' %}

{% block content %}
    <p>Your proposal for a {% if occurrence_report.is_flora_application %}flora{% elif occurrence_report.is_fauna_application %}fauna{% else %}community{% endif %}
        occurrence report form has been submitted, the occurrence report form number is {{ occurrence_report.occurrence_report_number }}</p>
    Submitter: {{ submitter }}<br />
    Lodgement date: {{ occurrence_report.lodgement_date }}
    <p>Please note it may take up to 21 days to process your occurrence report form.</p>
    <p>You will receive a notification email if there is any incomplete information or documents missing from the occurrence report form.</p>
{% endblock %}
