{% extends 'boranga/emails/base_email.html' %}

{% load utils %}

{% block content %}
    <p>
        The following species have been combined:

        <ul>
            {% for combine_species_instance in combine_species_qs %}
                <li> {{ combine_species_instance.species_number }} - {{ combine_species_instance.taxonomy.scientific_name }} ({{ actions|dict_get:combine_species_instance.id }})</li>
            {% endfor %}
        </ul>
    </p>

    <p>
        Into the resulting species:
    </p>
    <p>
        <ul>
            <li>
                <a href="{{resulting_species_url}}">
                    {{ resulting_species_instance.species_number }} - {{ resulting_species_instance.taxonomy.scientific_name }}
                </a>
            </li>
        </ul>
    </p>

    <p>
        Any and all occurrences from the combined species have been transferred to the resulting species.
    </p>

    <p>
        Any approved conservation statuses for the combined species have been closed.
        (excepting the case that a combine species is retained as the resulting species)
    </p>
{% endblock %}
