{%  extends 'boranga/emails/base_email.html' %}

{%  block content %}
    <p>Community:</p>
    <ul>
        <li><a href="{{original_community_url}}?group_type_name=community">{{ original_community.community_number }} - {{ original_community.taxonomy.community_name }}</a></li>
    </ul>
    <p>has been renamed to:
    <ul>
        <li><a href="{{resulting_community_url}}?group_type_name=community">{{ resulting_community.community_number }} - {{ resulting_community.taxonomy.community_name }}</a></li>
    </ul>
    {% if original_made_historical %}
    <p>
        The original community has been made historical.
    </p>
    <p>
        Any approved conservation status for the original community has been closed.
    </p>
    {% else %}
    <p>
        The original community has been retained and is still active.
    </p>
    <p>
        Any approved conservation status for the original community will remain approved.
    </p>
    {% endif %}
    <p>
        Any and all occurrences from the original community have been moved to the resulting community.
    </p>
{%  endblock %}
