{%  extends 'boranga/emails/base_email.html' %}

{%  block content %}
        <p>
            The Boranga Species {{ original_species.species_number }} - {{ original_species.taxonomy.scientific_name }}
            has been split into the following species:
        </p>

        <ul>
            {% for split_species in split_species_list %}
                <li>
                    {{ forloop.counter }}: {{ split_species.species_number }} - {{ split_species.taxonomy_details.scientific_name }}
                    ({{ split_species.action }})
                </li>
            {% endfor %}
        </ul>

        {% if occurrences %}
            <p>The occurrences from the original species were assigned as follows:</p>
            <ul>
                {% for species_key, occ_list in occurrences.items %}
                    <li>
                        <strong>{{ species_key }}</strong>
                        <ul>
                            {% for occurrence in occ_list %}
                                <li>
                                    {{ occurrence.occurrence_number }} ({{ occurrence.processing_status }})
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <br />
                {% endfor %}
            </ul>
        {% endif %}

        {% if split_of_species_retains_original %}
            <p>The original species was retained and is still active.</p>
        {% else %}
            <p>The original species has been made historical.</p>
        {% endif %}

    {%  endblock %}
