<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% block greetings %}
            <p>
                Dear Sir/Madam,
            </p>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block signature %}
            <p>
                Regards,
            </p>
            <p></p>
            <p>
            {{settings.BRANCH_NAME}}<br>
            {{settings.DEP_NAME}}
            </p>
        {% endblock %}
        {% block reply_statement %}
            <p>
                <strong><em>
                    Please do not reply directly to this email. Should you need to contact the {{settings.BRANCH_NAME}} regarding Boranga, please email <a href="mailto:{{settings.EMAIL_SUPPORT_ADDRESS}}">{{settings.EMAIL_SUPPORT_ADDRESS}}</a>.
                </em></strong>
            </p>
            <p>
                <em style="font-size: 9pt; color: #242424;">
                    {{settings.EMAIL_ACKNOWLEDGEMENT}}
                </em>
            </p>
            <p>
                <img src="{{settings.PUBLIC_URL}}/static/boranga/img/CBS.png" title="Conservation and Biodiversity Science" width="625" style="height: auto;">
            </p>
        {% endblock %}
    </body>
</html>
